/* stripping styles
body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer {
    margin: 0;
    padding: 0;
}

img {
  display: block;
}

ul,
li {
    list-style: none;
} */

/* Global styles */

/* html {
    font-size: 62.5%;
}

h1 {
  color: black;
  margin: 4% 0 0 10%;
  font-family: 'Spartan';
  text-transform: uppercase;

} */


/* .App {
  text-align: center;
} */



/* .wrapper {
  margin: 0 auto;
  width: 80%;
}

.results{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.App-header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .wrapper {
  background-image: url(./assets/bookshelf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
} */
/* 
form label {
  border: 2px solid black;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.6);
  color: black;
}

form input {
  width: 80%;
  height: 40px;
  margin: 20px 0;
}

form button {
  padding: 10px 20px;
  border: 2px solid black;
}

form button:hover,
form button:focus {
  cursor: pointer;
  background-color: grey;
} */



 
